# Import
import("ade4", "ape", "gam", "gbm", "sp")
importFrom("adehabitatHR", kernelUD)
importFrom("adehabitatMA", ascgen, kasc2spixdf)
importFrom("biomod2", BinaryTransformation)
importFrom("dismo", maxent, gbif, randomPoints, predict)
importFrom("ecodist", mgram)
importFrom("maptools", spRbind)
importFrom("randomForest", randomForest)
importFrom("spatstat", nndist)
importFrom("raster", cellFromXY, extract, nlayers, projection, stack, reclassify, rasterToPolygons) 
importFrom("rms", pol)

# Export
export(ecospat.binary.model)
export(ecospat.boyce)
export(ecospat.calculate.pd)
export(ecospat.caleval)
export(ecospat.cons_Cscore)
export(ecospat.co_occurrences)
export(ecospat.cv.example)
export(ecospat.cv.gam)
export(ecospat.cv.gbm)
export(ecospat.cv.glm)
export(ecospat.cv.me)
export(ecospat.cv.rf)
export(ecospat.env)
export(ecospat.Epred)
export(ecospat.fun.arrows)
export(ecospat.grid.clim.dyn)
export(ecospat.makeDataFrame)
export(ecospat.mantel.correlogram)
export(ecospat.maxentvarimport)
export(ecospat.mess)
export(ecospat.migclim)
export(ecospat.niche.dyn.index)
export(ecospat.niche.equivalency.test)
export(ecospat.niche.overlap)
export(ecospat.niche.similarity.test)
export(ecospat.npred)
export(ecospat.occ.desaggregation)
export(ecospat.permut.glm)
export(ecospat.plot.contrib)
export(ecospat.plot.mess)
export(ecospat.plot.niche)
export(ecospat.plot.niche.dyn)
export(ecospat.plot.overlap.test)
export(ecospat.rand.pseudoabsences)
export(ecospat.sample.envar)
export(ecospat.SSDMeval)
export(ecospat.varpart)
